!!! XML
%urlset{ :xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9", 'xmlns:xsi' => "http://www.w3.org/2001/XMLSchema-instance", 'xsi:schemaLocation' => "http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" }
  %url
    %loc http://antono.info/

  - pages.all.collect { |p| p.path_with_parent.gsub(/\/(index|blog|feed)$/, '/') }.uniq.each do |url|
    %url
      %loc= 'http://antono.info/' + url
